<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/add_employee.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/recognize_employee.js') }}" defer></script>
</head>

<body>
    <h1>G.A.T.E</h1>
    <h2>Employee Management</h2>
    <div class="button-container">
        <a href="{{ url_for('connect_to_database') }}" class="button">Connect to Database</a>
        <a href="{{ url_for('add_employee') }}" class="button">Add New Employee</a>
        <a href="{{ url_for('recognize_employee') }}" class="button">Recognize Employee</a>
        <a href="{{ url_for('logout') }}" class="button">Logout</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash">
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h2>Current Employees</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Job</th>
                <th>Income</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.job }}</td>
                <td>${{ '{:,.2f}'.format(employee.income).replace(',', 'X').replace('.', ',').replace('X', '.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <h2>Remove Employee</h2>
    <form action="{{ url_for('remove_employee') }}" method="post">
        <input type="text" name="employee_id" placeholder="Enter Employee ID" required>
        <input type="submit" value="Remove">
    </form>

    <h2>Model Operations</h2>
    <form action="{{ url_for('train_model') }}" method="post">
        <input type="submit" value="Train Model">
    </form>
</body>

</html>